<%= form_for(order, html: {class: "form-horizontal"}) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation" class="form-group">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :recipient_id, class: "col-sm-2 col-md-2 control-label" %>
    <div class="col-sm-7 col-md-7">
      <%= f.text_field :recipient_name, class: "form-control"%>
      <%= f.hidden_field :recipient_id %>
    </div>
    <div class="col-sm-3 col-md-3">
      <%= f.button 'Add New Recipient', class: "btn btn-primary"%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :status, class: "col-sm-2 col-md-2 control-label" %>
    <div class="col-sm-10 col-md-10">
      <%= f.select :status, Order.statuses.map {|key,value| [key.humanize, key]} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :total, class: "col-sm-2 col-md-2 control-label" %>
    <div class="col-sm-10 col-md-10">
      <%= f.text_field :total, class: "form-control", disabled: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 col-md-10">
      <h4>Order Items</h4>
    </div>
  </div>

  <div id="order-items" class="form-group">
      <%= f.fields_for :order_items do |item| %>
        <%= render 'order_item_fields', f: item %>
      <% end %>
      <div class="order-item col-sm-offset-2 col-sm-10 col-md-10">
        <%= link_to_add_association 'Add Item', f, :order_items %>
      </div>
  </div>

  <div class="form-group">
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
