<div class="container">
  <div class="container">
    <div class="header">
      <h1>
        <span>Orders</span>
        <div class="pull-right">
          <%= link_to new_order_path, class:"btn btn-primary" do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </div>
      </h1>
    </div>
  </div>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Recipient</th>
        <th>Status</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td rowspan="2"> <%= raw(order.recipient_description) %> </td>
          <td><%= order.created_at.to_s(:db) %></td>
          <td> <%= order.total %> </td>
        </tr>
        <tr>
          <td> <%= order.status %> </td>
          <td  class="bottom-border">
            <div class="text-right">
              <%= link_to order, class: "btn btn-default" do%>
                <span class="glyphicon glyphicon-info-sign"></span>
              <% end %>
              <%= link_to edit_order_path(order), class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              <%= link_to order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do%>
                <span class="glyphicon glyphicon-remove-sign"></span>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @orders %>
</div>