<p id="notice"><%= notice %></p>
<div class="container">

</div>
<div class="container">
  <div class="center-block">
    <div class="text-center">
      <h1>Product</h1>
    </div>
    <p id="notice"><%= notice %></p>

    <table class="table table-bordered table-responsive">
      <tr>
        <th>Total</th>
        <td><%= @order.total%></td>
      </tr>
    </table>
    <div class="text-center">
      <%= link_to 'Back', orders_path, class: "btn btn-primay" %>
      <%= link_to 'Edit', edit_order_path(@order), class: "btn btn-default" %> |
    </div>
  </div>
</div>

